body {
    margin: 0;
    padding: 0;
}

.first__page {
    position: relative;
    width: 1024px;
    height: 774px;

    background: #004980;
}

.choose__difficulty {
    position: absolute;
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;

    background: #C2F5FF;
    border-radius: 12px;
}

.text__difficulty {
    position: absolute;
    width: 208px;
    height: 96px;
    left: 408px;
    top: 210px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #004980;
}


.level__easy {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 341px;
    top: 354px;

    background: #FFFFFF;
    border-radius: 12px;
}

.text__easy {
    position: absolute;
    width: 97px;
    height: 98px;
    left: 342px;
    top: 354px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #0080C1;
}

.level__medium {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 463px;
    top: 354px;

    background: #FFFFFF;
    border-radius: 12px;
}

.text__medium {
    position: absolute;
    width: 96px;
    height: 98px;
    left: 465px;
    top: 354px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #0080C1;
}

.level__hard {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 585px;
    top: 354px;

    background: #FFFFFF;
    border-radius: 12px;
}

.text__hard {
    position: absolute;
    width: 96px;
    height: 98px;
    left: 587px;
    top: 354px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #0080C1;
}

.start__button {
    position: absolute;
    width: 246px;
    height: 50px;
    left: 389px;
    top: 519px;

    background: #7AC100;
    border-radius: 12px;
}

.text__button {
    position: absolute;
    width: 246px;
    height: 48px;
    left: 389px;
    top: 519px;

    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #FFFFFF;
}